body {
    background-color: rgb(77, 119, 110);
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(173, 120, 63);
    padding: 0.5em;
    margin: -1em -1em 1em -1em;
    border: 0;
}

.camps {
    display: flex;
    background-color: rgb(71, 73, 72);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;
    border-radius: 5px;

}

.formContainer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, auto);
}

#form {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#form label {
    color: white;
    font-size: 18px;
    justify-content: top;
    margin-top: 10px;
    min-width: fit-content;
}

#form input {
    margin: 5px;
    padding: 5px;
    width: stretch;
    border-radius: 5px;
    border: 2px solid #ccc;
}

#form textarea {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

#form input[type="radio"] {
    width: auto;
    min-width: 20px;
    height: 20px;
    margin: 10px;
    width: auto;
}

#form input[type=checkbox] {
    width: auto;
    min-width: 20px;
    height: 20px;
    margin: 10px;
}


footer {
    margin: -1em -1em -1em -1em;
    padding: 10px;
    padding-top: 5px;
    background-color: rgba(71, 73, 72, 0.5);
    backdrop-filter: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: white;
}